.Banner
  width: 100%
  height: 550px
  background: url('/images/banner.png') no-repeat
  background-size: 100%
  .text
    margin 0 auto
    padding 16%
    width 400px
    p
      color: white
      font-size: 22px
      font-weight: 200
      line-height: 28px
    p:last-child
      float right
      margin-top: 20px

