@import highlight

.article-entry
  margin 60px auto
  width: 60%
  img
    margin 0 auto
    width 60%
  .title
    color #000
    font-size 38px
  .updated
    margin 15px 0 5px
    color #888
  .login
    margin-bottom 44px
    color #888
.article-entry img:nth-child(1)
  border 2px solid #f00



