@import highlight
.article
  position relative
  .article-entry
    margin: 90px 10% 34px
    width: 50%
    .title
      text-align center
      font-size: 2em
      font-weight blod
      line-height: 2.2em
    .article-info
      margin 0 auto
      width 140px
      .updated:before
        content ' - '
      .login, .updated
        text-align center
        color #888
      .login
        margin-bottom 38px
      .login:hover
        text-decoration underline


