@import highlight

.article-entry
  margin: 2% 10% 44px
  width: 80%
  .title
    font-size: 2em
    line-height: 2.2em
  .login, .updated
    color #888
  .login
    margin-bottom 34px
  div:last-child
    border-top 2px solid #ccbf7d

