.comment-item
  position relative
  padding-top 44px
  border-top 1px solid #e2daae
  .avatar
    position absolute
    img
      width 64px
      height 64px
      border-radius 50%
  .comment-info
    position relative
    margin-left 80px
    .time
      position absolute
      top 0
      right 0
    .username
      font-size 22px
      color #000
    .text
      padding 20px 0
      font-size 18px
      line-height 30px
