.comment-item
  position relative
  padding-top 44px
  border-bottom 1px solid #d8d8d8
  .avatar
    position absolute
    img
      width 64px
      height 64px
      border-radius 50%
  .comment-info
    position relative
    margin-left 80px
    .time
      margin-left 10px
      font-size 18px
      color #9B9B9B
      font-weight 100
    .username
      margin 0
      font-size 22px
      line-height 22px
      color #000
    .text
      margin 0
      padding 20px 0
      font-size 40px
      line-height 30px

