.comment
  margin 0 auto 60px
  width 80%
  border-top 2px solid #e2daae
.no-comment
  margin-left 10%
  padding: 44px 0 100px
  width 80%
  border-top 2px solid #e2daae
  font-size 24px
  color #4a4a4a

