.comment
  margin 0 auto 60px
  width 80%
  border-top 2px solid #e2daae
.no-comment
  margin-left 10%
  padding: 44px 0 100px
  width 80%
  border-top 2px solid #e2daae
  color #4a4a4a

a
  text-decoration: none
.reply
  margin-top: 10px
  font-size: 1.2em
  line-height: 1.8em
  width: 100px
  background: #eee
  text-align: center
  

