.end-line
  margin 0 auto
  width 100%
  text-align center
  color rgba(#fff, .1)
  background-image url('/images/drop-shadow-narrow.png')
  background-repeat no-repeat
  background-size auto 90%
  background-position center
.prompt
  visibility hidden
  padding 10px
  width 70px
  border 1px solid #000
  background #f7f7f7
  color #9b9b9b
.comment
  margin 10%
  width 50%
.no-comment
  margin-left 10%
  padding: 44px 0 100px
  width 50%
  i
    line-height 100px
    font-size 2em
    color #ccc
    text-align center

a
  text-decoration: none

.reply
  display block
  margin: 30px 0
  font-size: 1.2em
  line-height: 38px
  width: 100px
  height 38px
  background: #4A90E2
  text-align: center
  color #fff
.reply:hover + .prompt
  visibility visible



