.article-content
	width: 100%

.article-list-header
	font-size: 1.6em
	margin-left: 10%
	margin-top: 10px


.article-list
	margin-left: 5%
	width: 90%
	display: flex
	flex-wrap: wrap
	justify-content: space-around