.article-content
  width: 100%

.article-list-header
  margin 2% auto
  padding-left 2%
  width 60%
  p:first-child
    display inline-block
    font-size: 1.6em
    border-bottom 1px solid #e4d9ac
    margin-bottom: 0px
  p:last-child
    margin-top: 0px
    font-size 1.3em
    color #9b9b9b

.article-list
  margin 0 auto
  width: 60%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
