.article-content
  margin 70px 0 40px
  width: 100%

.article-list-header
  margin 2% auto
  width 85%
  p:first-child
    display inline-block
    font-size: 2em
    font-weight bold
    margin-bottom: 0px

.article-list
  position relative
  margin 0 auto
  width 85%

.top
  position fixed
  right 0
  right 24%
  bottom 35%
  padding 10px
  background rgba(#fff, 0)
  color #9f9f9f
  text-align center
  font-size 3em
  cursor pointer

.article-list-loading
  width 65%
  margin-top 3em
  text-align center
  img
    width 5vh
    height 5vh
