.article-card
  margin-bottom 3%
  padding 25px
  width: 65%
  box-sizing border-box
  background #f7f7f7
  .card-info
    .title
      width 100%
      color: #4a4a4a
      font-size 24px
      font-weight bold
    .sub-title
      font-size 14px
      line-height 16px
      color #9b9b9b
      p
        display inline-block
        margin-right 6px

.card-img
  p
    margin 0
    color #9b9b9b
    letter-spacing 0.1em
    word-spacing 0em

.article-card:hover
  -webkit-box-shadow: 0 0 6px rgba(#000 .17)
  -moz-box-shadow: 0 0 6px rgba(#000 .17)
  box-shadow: 0 0 6px rgba(#000 .17)
  transition all 200ms ease-in-out
  .card-img
    p
      color #4a4a4a
      transition all 200ms ease-in-out



