.article-card

  margin-bottom 3%
  padding 25px
  width: 46%
  min-width 300px !important
  box-sizing border-box
  border: solid 4px rgba(229, 211, 142, 0.56)
  border-radius 15px
  .card-info
    .title
      width 100%
      color: #627f8f
      font-size 24px
      font-weight bold
    .sub-title      
      font-size 14px
      line-height 16px
      color #9b9b9b
      p last-child
        float right
      
.card-img
  img
    margin-bottom 10px
    height: 200px
    width: 100%

