.Topbar
  z-index 99
  position fixed
  top 0
  padding 15px 0
  width: 100%
  background #fff
  -webkit-box-shadow: 0 0 10px rgba(#000 .17)
  -moz-box-shadow: 0 0 10px rgba(#000 .17)
  box-shadow: 0 0 10px rgba(#000 .17)

#logo
  display block
  margin 0 auto
  height: 30px


