.team-info
  position absolute
  top 0
  right 6%
  width 24%
  min-width 200px
  background #f7f7f7
  a
    img
      display block
      margin 30px auto
      width 25%
  .members-title, .name
    color #9B9B9B
    font-size 1.6em
    text-align center
  .members
    margin 0 auto
    padding-left 20px
    width 180px
    img
      display inline-block
      margin 0 20px 20px 0
      width 40px
      border-radius 20px


