.footer
  padding 53px 0
  border-top 2px solid #f0e7bf
  // div
  //   margin 0 auto
  //   width 60%
  .contact
    font-size 20px
    color #4a4a4a
    text-align center
  .contact-info
    position relative
    margin 30px auto
    width: 50%
    min-width 600px
    .copyright
      text-align center
    .github
      float left
    .company
      float left
      position absolute
      margin-left -40px
      left 50%
      text-align center
    .email
      float right
    .iconfont
      margin-right 10px
  .copyright
    margin-top 150px
    text-align center
    color #9b9b9b

