.footer
  padding 80px 0  50px
  border-top 2px solid #f0e7bf
  .contact
    font-size 20px
    color #4a4a4a
    text-align center
  .contact-info
    position relative
    margin 20px auto
    width: 50%
    min-width 600px
    .copyright
      text-align center
    .github
      float left
    .company
      float left
      position absolute
      margin-left -40px
      left 50%
      text-align center
    .email
      float right
    .iconfont
      margin-right 10px
  .copyright
    margin-top 60px
    text-align center
    color #9b9b9b

